{% extends 'base.html' %}
{% block title %}تم إرسال رابط الاسترجاع{% endblock %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center rounded-4">
                <i class="fas fa-envelope fa-2x mb-2"></i>
                <h4>تم إرسال رابط استرجاع كلمة المرور لبريدك الإلكتروني.</h4>
                <p>يرجى مراجعة بريدك واتباع التعليمات.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
