{% extends 'base.html' %}
{% load static %}
{% block title %}تعديل الغرفة{% endblock %}
{% block content %}
<div class="container py-4">
  <h3 class="mb-3">تعديل الغرفة</h3>
  <form method="post" enctype="multipart/form-data" class="card p-3">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row g-3">
      <div class="col-12">{{ form.name.label_tag }}{{ form.name }}</div>
      <div class="col-12">{{ form.room_image.label_tag }}{{ form.room_image }}</div>
      <div class="col-12">{{ form.description.label_tag }}{{ form.description }}</div>
    </div>
    <div class="mt-3 d-flex gap-2">
      <button class="btn btn-primary" type="submit">حفظ التعديلات</button>
      <a class="btn btn-secondary" href="{% url 'listings:seller_dashboard' %}">إلغاء</a>
    </div>
  </form>
</div>
{% endblock %}
